.address{
  margin-bottom:100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and(min-width:1350px){
    display: flex;
    justify-content: center;
    flex-direction: row;

    margin-bottom: 145px;
  }
}


.location-box{
  display: flex;

  width:300px;

  &:not(:last-child){
    margin-bottom: 20px;
  }

  @media screen and(min-width:1350px){
    &:not(:last-child){
      margin-right: 70px;
      margin-bottom: 0;

    }
  }
  
  
}

.location-box__img-box{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  margin-right: 20px;

  border-radius: 50%;
  background-color: $main-bg-color;
}

.location-box__address-block-title{
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(16/25);

  color: $main-text-color;
}

.location-box__address-block-text{
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: calc(16/25);

  color: $main-text-color;
  &:not(:last-child) {
      margin-bottom: 10px;
    }
}

.location-box__address-block-data{
  margin-right: 20px;
}

.address-text,
.first-phone-number,
.second-phone-number{
  display: block;
  &:hover{
    color:$hover-color;
  }
}

.location-box__address-block-span{
  display: block;
  margin-bottom: 10px;
}