.go-top{
  z-index: 1;

  position: fixed;
  right: 6%;
  top: 82%;

  padding: 5px;

  display: none;

  justify-content: center;
  align-items: center;

  background-color: white;

  border-radius: 50%;

  cursor: pointer;

  @media  screen and (min-width: 1000px) {
    top: 89%;
  }

  @media  screen and (min-width: 1350px) {
    top: 83%;
  }
}

.go-top--show{
  display: flex;

  justify-content: center;
  align-items: center;
}

.go-top > svg{
  transform: rotate(-90deg);
  fill: $main-color;
}