.reviews{
  padding-top: 40px;
  padding-bottom: 80px;

  

  &__title{
    margin-bottom: 40px;

    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    
    text-align: center;
    text-transform: uppercase;
    
    color: #094581;
  }
}

.reviews__list{
  margin-left: -30px;
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.response-card{

  margin-left: 30px;
  margin-top: 30px;
  // padding: 30px 30px 74px 30px;
  

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1350px) {
    flex-basis: calc(100% / 3 - 30px);
  }


  border: 1px solid #E1EFFD;
  border-radius: 30px;

  &__link{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 30px 74px 30px;
    
  }

  &__top-card{
    display:flex ;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title{
    margin-bottom: 5px;
    font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
    
    
      color: #094581;
  }

  &__date{
    font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      /* identical to box height */
    
    
      color: #999999;
  }
}

.response-card__reviers-info{
  margin-left: 20px;
}