.services {
  padding-top: 81px;
  padding-bottom: 81px;
}

.upload-price {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__item {
    position: relative;
    margin-right: 0px;
    margin-bottom: 10px;

    &:not(:last-child) {
      @media screen and (min-width: 768px) {
        margin-right: 60px;
      }
    }
  }

  &__link {
    position: relative;

    font-weight: 700;
    font-size: 16px;
    line-height: 26px;

    color: $main-color;
  }
}

.services-cards {
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-card {
  --transition-dur: 250ms;

  position: relative;
  z-index: 0;
  transition: z-index var(--transition-dur) step-end;
  user-select: none;

  width: 100%;

  margin-left: 30px;
  margin-top: 30px;

  &:hover,
  &:focus {
    z-index: 1;
    transition-timing-function: step-start;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1350px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  &__body {
    padding: 30px 15px;
    height: 180px;
    width: 100%;
    border-radius: 30px;
    background-color: $main-white-color;

    &:hover,
    &:focus {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    @media screen and (min-width: 768px) {
      padding: 30px;
      height: 230px;
    }
  }

  &__top-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    display: none;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;

    border-radius: 50%;
    background-color: $main-bg-color;

    @media screen and (min-width: 768px) {
      display: flex;

      width: 70px;
      height: 70px;
    }
  }

  &__title {
    width: 206px;

    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    color: $main-color;
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 26px;

    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;

    color: $main-text-color;
  }
}

.services-card__hidden-link {
  position: absolute;
  inset: 0;

  transition: filter var(--transition-dur);
  filter: drop-shadow(0 0 1px #02a7);
  z-index: -1;

  background-color: $main-white-color;
}

.services-card__link {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
  color: $hover-color;
  transition: 25000ms;
}

.services-card__footer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: inherit;
  transform: translateY(-100%);
  transition: transform var(--transition-dur);

  &:hover,
  &:focus {
    transform: translateY(0px);
  }
}

.services-card:hover .services-card__link {
  display: block;
}

.services-card:hover .services-card__footer {
  transform: translateY(0px);
}

.services-card:hover .services-card__hidden-link {
  filter: drop-shadow(0 0 8px #02a7);
}

.upload-price__link {
  display: flex;
  align-items: center;

  transition: color 150ms $animation-timer;

  &:hover,
  :focus {
    color: $hover-color;
  }
}

.upload-price__icon {
  margin-right: 20px;

  fill: $main-color;
}
