.services{
  padding-top: 81px;
  padding-bottom: 81px;
}

.services__title{
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 30px;
  line-height: 40px;

  text-align: center;
  text-transform: uppercase;

  color: $main-color;
}

.search-form{
  position: relative;
  
  margin: 0 auto 30px;
  width: 300px;
  height: 60px;

  @media screen and(min-width:768px){
    width: 700px;
  }

  @media screen and(min-width:1350px){
    width: 890px;
  }

  &::after {
    content: " ";
    background-image: url(/src/images/icons/search.svg);
    position: absolute;
    width: 24px;
    height: 24px;
    right: 30px;
    top: 18px;
  }

  &__input{
    padding: 19px 30px 19px 30px;
    width: 100%;

    font-family: 'Open Sans';

    font-size: 16px;
    line-height: 22px;
    color: #999999;

    background: #F1F7FE;
    border-radius: 30px;
    border: none;
    outline: 0;

  }
}

.upload-price{
  @media screen and (max-width:768px){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  
  @media screen and (min-width:768px){
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__item {
    position: relative;
    margin-right: 0px;
    margin-bottom: 10px;
    
    &:not(:last-child) {
      @media screen and (min-width:768px){
        margin-right: 60px;
      }
    }
  }

  &__link{
    position: relative;

    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    
    color: $main-color;
  }
}

.services-cards{
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-card {
  --transition-dur: 250ms;
  --bdrs: 30px;
  position: relative;
  z-index: 0;
  transition: z-index var(--transition-dur) step-end;
  user-select: none;

  margin-left: 30px;
  margin-top: 30px;
  // padding: 30px 30px 30px 30px;

  // height: 230px;
  // width: 100%;

  // border: 1px solid #E1EFFD;

  // border-radius: 30px;

  // background: #FFFFFF;
  &:hover,
    &:focus {
      // box-shadow: 0px 5px 30px rgba(225, 239, 253, 0.8);
      z-index: 1;
      transition-timing-function: step-start;
    }

  &__body {
      padding: 30px 30px 30px 30px;
      height: 230px;
      width: 100%;
      border-radius: 30px;
      background-color:white;
  }

  @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
    }
  
    @media screen and (min-width: 1350px) {
      flex-basis: calc(100% / 3 - 30px);
    }

  &__top-card{
    display: flex;
    justify-content: space-between;
    align-items:center; 
  }

  &__img{
        display: flex;
          align-items: center;
          justify-content: center;
    width: 90px;
    height: 90px;

    border-radius: 50%;
    background-color: #F1F7FE;;
  }

  &__title{
    width: 206px;

    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    
    color: $main-color;
  }

  &__text{
    margin-top: 20px;
    margin-bottom: 26px;

    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px; 
    
    color:$second-text-color;
  }
}

.services-card__hidden-link {
  position: absolute;
  inset: 0;
  // width: 100%;
  // height: 45px;
  transition: filter var(--transition-dur);
  border-radius: var(--bdrs);
  filter: drop-shadow(0 0 1px #02a7);
  z-index: -1;

  // left: 0;
  // bottom: 0%;
  background-color: white;
  // opacity: 0.3;
  // border-bottom-right-radius: 30px;
  // border-bottom-left-radius: 30px;
}


.services-card__link {
  display: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  
    text-transform: uppercase;
    
    color: #0F97D8;
  transition: 25000ms;
}

// .services-card__link:hover


.services-card__footer {
  position: absolute;
  top: calc(100% - var(--bdrs));
  left: 0;
  width: 100%;
  padding: 30px ;
  background-color: inherit;
  border-radius: 0 0 var(--bdrs) var(--bdrs);
  transform: translateY(-100%);
  transition: transform var(--transition-dur);
}

.services-card:hover .services-card__link {
  display: block;
}


.services-card:hover .services-card__footer {
  transform: translateY(-20px);
}

.services-card:hover .services-card__hidden-link{
  filter: drop-shadow(0 0 8px #02a7);
  // box-shadow: 0px 5px 30px rgba(225, 239, 253, 0.8);
}

.upload-price__link{
  display: flex;
  align-items: center;
}

.upload-price__icon{
  margin-right: 20px;
}

