@charset "UTF-8";
body {
  font-family: "Raleway", "Open Sans", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1350px) {
  .container {
    width: 1350px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
  /* or */
  font-style: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.header {
  position: relative;
  padding-top: 150px;
  padding-bottom: 160px;
  background-color: #F1F7FE;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 200px;
    padding-bottom: 210px;
  }
}
@media screen and (min-width: 1350px) {
  .header {
    padding-top: 300px;
    padding-bottom: 310px;
  }
}

.above-header-line {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #094581;
}
.above-header-line__container {
  display: flex;
}

.messengers-list {
  display: flex;
  margin-left: auto;
}
.messengers-list__item:not(:last-child) {
  margin-right: 10px;
}
.messengers-list__link {
  display: flex;
}
.messengers-list__icon {
  fill: white;
}
.messengers-list__icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

/*----------HEADER--------------*/
.header-logo {
  margin-right: auto;
}

.classic-header-part {
  position: absolute;
  top: 30px;
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .classic-header-part {
    width: 768px;
  }
}
@media screen and (min-width: 1350px) {
  .classic-header-part {
    width: 1350px;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 1350px) {
  .nav {
    display: block;
    margin-right: 52px;
  }
}
.nav__list {
  display: flex;
}
.nav__list-item:not(:last-child) {
  margin-right: 30px;
}
.nav__list-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #094581;
}

.language-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: transparent;
}
.language-button__icon:hover {
  cursor: pointer;
}

.tel-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .tel-list {
    display: flex;
    margin-left: 52px;
  }
}
.tel-list__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #094581;
}

.hero-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero-main-info {
    width: 545px;
  }
}
.hero-main-info__title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #094581;
}
.hero-main-info__text {
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
}
.hero-main-info__button {
  padding: 15px 74px 15px 74px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #094581;
  border: 2px solid #094581;
  border-radius: 30px;
  background-color: transparent;
}
.hero-main-info__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-part {
  position: relative;
}

.hero-picture__first {
  display: none;
}
@media screen and (min-width: 1350px) {
  .hero-picture__first {
    position: absolute;
    z-index: 2;
    display: block;
    left: 632px;
    top: -72px;
  }
}

.hero-picture__second {
  position: absolute;
  z-index: 1;
  display: none;
  left: 550px;
  top: -60px;
}
@media screen and (min-width: 768px) {
  .hero-picture__second {
    display: block;
  }
}
@media screen and (min-width: 1350px) {
  .hero-picture__second {
    top: -60px;
    left: 1085px;
  }
}

.hero-picture__round {
  display: none;
}
@media screen and (min-width: 1350px) {
  .hero-picture__round {
    position: absolute;
    display: block;
    left: 730px;
    top: -142px;
  }
}

.menu-open-btn {
  display: block;
  display: flex;
  padding: 0;
  margin-left: 27px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 1350px) {
  .menu-open-btn {
    display: none;
  }
}
.menu-open-btn__burger-menu {
  fill: #094581;
}

.services {
  padding-top: 81px;
  padding-bottom: 81px;
}

.services__title {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #094581;
}

.search-form {
  position: relative;
  margin: 0 auto 30px;
  width: 300px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .search-form {
    width: 700px;
  }
}
@media screen and (min-width: 1350px) {
  .search-form {
    width: 890px;
  }
}
.search-form::after {
  content: " ";
  background-image: url(/Webpack-Simple-master/src/images/icons/search.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  right: 30px;
  top: 18px;
}
.search-form__input {
  padding: 19px 30px 19px 30px;
  width: 100%;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  color: #999999;
  background: #F1F7FE;
  border-radius: 30px;
  border: none;
  outline: 0;
}

.upload-price {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.upload-price__item {
  position: relative;
}
.upload-price__item:not(:last-child) {
  margin-right: 110px;
}
.upload-price__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #094581;
}

.services-cards {
  display: flex;
  grid-gap: 30px;
}

.services-card {
  padding: 62px 30px 68px 30px;
  width: 430px;
  border: 1px solid #E1EFFD;
  border-radius: 30px;
  background: #FFFFFF;
}
.services-card__title {
  margin-bottom: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #094581;
}
.services-card__text {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}/*# sourceMappingURL=main.css.map */