body {
  font-family: "Raleway", "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #d4d4d4;
}
body::-webkit-scrollbar-thumb {
  background-color: #094581;
}

body.modal-open {
  overflow: hidden;
}

.container h2 {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #094581;
}

.container {
  width: 100%;
  padding: 0px 25px 0px 25px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1350px) {
  .container {
    width: 1350px;
  }
}

.logo {
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  /* or */
  font-style: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/*-------------------HIDDEN-TITLES----------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*--------HIDDEN-EL------------------*/
.is-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  display: flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-button__cross-button {
  fill: #999999;
}

.menu-button__cross-button:hover {
  fill: #0F97D8;
}

.close-btn--order-modal {
  margin-top: 10px;
  margin-right: 10px;
}

.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--animation-timer);
}

.order-modal-window {
  overflow-y: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  border-radius: 30px;
  background: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--animation-timer), scale 250ms var(--animation-timer);
}
@media screen and (min-width: 750px) {
  .order-modal-window {
    width: 80%;
  }
}
@media screen and (min-width: 1350px) {
  .order-modal-window {
    height: 70%;
    width: 60%;
  }
}

.order-modal-window__title {
  text-align: center;
  margin-bottom: 35px;
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  line-height: 0.9230769231;
  color: #094581;
}

.order-modal-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 97%;
  padding: 0px 30px 60px 30px;
}
@media screen and (min-width: 750px) {
  .order-modal-block {
    padding: 0px 40px 60px 40px;
  }
}

.price-modal-window {
  overflow-y: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 90%;
  width: 90%;
  border-radius: 30px;
  background: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--animation-timer), scale 250ms var(--animation-timer);
}
@media screen and (min-width: 750px) {
  .price-modal-window {
    width: 80%;
  }
}
@media screen and (min-width: 1350px) {
  .price-modal-window {
    height: 80%;
    width: 70%;
  }
}

.price-window-close-btn {
  margin-top: 15px;
  margin-right: 15px;
}

.block-with-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 97%;
  padding: 0px 10px 60px 10px;
}
@media screen and (min-width: 750px) {
  .block-with-table {
    padding: 0px 40px 60px 40px;
  }
}

.table-box {
  width: 100%;
  overflow: auto;
  margin-bottom: 40px;
}
.table-box::-webkit-scrollbar {
  width: 5px;
}
.table-box::-webkit-scrollbar-track {
  background-color: #d4d4d4;
}
.table-box::-webkit-scrollbar-thumb {
  background-color: #094581;
  border-radius: 8px;
}

.price-modal-window__title {
  text-align: center;
  margin-bottom: 35px;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 0.9230769231;
  color: #094581;
}

.price-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}
.price-table__head {
  background-color: #094581;
  color: white;
  border: none;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}
.price-table__body-row:nth-child(2n) {
  background-color: #F1F7FE;
}
.price-table__head-cell {
  padding: 15px 20px;
}
.price-table__head-cell--name {
  text-align: left;
}
.price-table__head-cell--price {
  text-align: right;
}
.price-table__body-cell {
  padding: 15px 20px;
}
.price-table__body-cell--name {
  text-align: left;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 1;
  color: #333333;
}
.price-table__body-cell--price {
  text-align: right;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #094581;
}

.language-selector {
  position: relative;
  display: inline-block;
}

.language-popup {
  position: absolute;
  top: 100%;
  left: -35%;
  display: none;
  padding: 10px;
  border: 1px solid #094581;
  border-radius: 20%;
  background-color: white;
}

.language-option {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.button {
  padding: 15px 74px 15px 74px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #094581;
  border: 2px solid #094581;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 80ms cubic-bezier(0.4, 0, 0.2, 1), color 80ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--order-modal {
  display: flex;
  margin: 0 auto;
}

.button:hover {
  color: white;
  box-shadow: 0px 4px 4px rgb(0, 0, 38);
  background-color: #094581;
}

.go-top {
  z-index: 1;
  position: fixed;
  right: 6%;
  top: 82%;
  padding: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #27698A;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .go-top {
    top: 89%;
  }
}
@media screen and (min-width: 1350px) {
  .go-top {
    top: 83%;
  }
}

.go-top--show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-top > svg {
  transform: rotate(-90deg);
  fill: #F1F7FE;
}

.common-navigation {
  position: absolute;
  top: 30px;
  display: flex;
  align-items: center;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .common-navigation {
    width: 725px;
  }
}
@media screen and (min-width: 1350px) {
  .common-navigation {
    width: 1300px;
  }
}

.common-navigation--footer {
  display: none;
}
@media screen and (min-width: 1350px) {
  .common-navigation--footer {
    position: static;
    padding-bottom: 50px;
    margin-bottom: 20px;
    border-color: white;
    border-bottom: solid 2px rgba(255, 255, 255, 0.2);
    display: flex;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 1350px) {
  .nav {
    display: block;
    margin-right: 52px;
  }
}
.nav__list {
  display: flex;
}
.nav__list-item:not(:last-child) {
  margin-right: 30px;
}
.nav__list-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #094581;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__list-link:hover,
.nav__list-link :focus {
  color: #0F97D8;
}
.nav__list-link--footer {
  color: white;
}

.language-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: transparent;
}
.language-button__icon {
  border-radius: 50%;
}
.language-button__icon:hover {
  cursor: pointer;
}

.tel-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .tel-list {
    display: flex;
    margin-left: 52px;
  }
}
.tel-list__link,
.tel-list span {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #094581;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-list__link:hover,
.tel-list :focus {
  color: #0F97D8;
}
.tel-list__link--footer {
  color: white;
}

.mob-tel-list {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.messengers-list {
  display: flex;
  margin-left: auto;
}
.messengers-list__item {
  transition: transform 150ms;
}
.messengers-list__item:not(:last-child) {
  margin-right: 10px;
}
.messengers-list__item:hover {
  transform: scale(1.1);
}
.messengers-list__item__link {
  display: flex;
}
.messengers-list__icon {
  fill: white;
}

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px 80px 35px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
@media screen and (min-width: 1350px) {
  .mob-menu {
    display: none;
  }
}

.mob-nav__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.mob-nav__list-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #094581;
}

.mob-tel-list__link {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #094581;
}

.header {
  position: relative;
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: #F1F7FE;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 200px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1350px) {
  .header {
    padding-top: 300px;
    padding-bottom: 180px;
  }
}

.above-header-line {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #094581;
}
.above-header-line__container {
  display: flex;
}

.hero-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero-main-info {
    width: 545px;
  }
}
@media screen and (min-width: 1350px) {
  .hero-main-info {
    display: block;
  }
}
.hero-main-info__title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #094581;
}
.hero-main-info__text {
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
}
.hero-main-info__button {
  padding: 15px 74px 15px 74px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #094581;
  border: 2px solid #094581;
  border-radius: 30px;
  background-color: transparent;
}
.hero-main-info__button:hover {
  color: white;
  box-shadow: 0px 4px 4px rgb(0, 0, 38);
  background-color: #094581;
}

.hero-part {
  position: relative;
}

.hero-picture__first {
  display: none;
}
@media screen and (min-width: 1350px) {
  .hero-picture__first {
    position: absolute;
    z-index: 2;
    display: block;
    left: 632px;
    top: -72px;
  }
}

.hero-picture__second {
  position: absolute;
  z-index: 1;
  display: none;
  left: 550px;
  top: -60px;
}
@media screen and (min-width: 768px) {
  .hero-picture__second {
    display: block;
  }
}
@media screen and (min-width: 1350px) {
  .hero-picture__second {
    top: -60px;
    left: 1085px;
  }
}

.hero-picture__round {
  display: none;
}
@media screen and (min-width: 1350px) {
  .hero-picture__round {
    position: absolute;
    display: block;
    left: 730px;
    top: -142px;
  }
}

.menu-open-btn {
  display: block;
  display: flex;
  padding: 0;
  margin-left: 27px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 1350px) {
  .menu-open-btn {
    display: none;
  }
}
.menu-open-btn__burger-menu {
  fill: #094581;
  cursor: pointer;
  transition: fill 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open-btn__burger-menu:hover,
.menu-open-btn__burger-menu :focus {
  fill: #0F97D8;
}

.services {
  padding-top: 81px;
  padding-bottom: 81px;
}

@media screen and (max-width: 768px) {
  .upload-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .upload-price {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
.upload-price__item {
  position: relative;
  margin-right: 0px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .upload-price__item:not(:last-child) {
    margin-right: 60px;
  }
}
.upload-price__link {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #094581;
}

.services-cards {
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-card {
  --transition-dur: 250ms;
  position: relative;
  z-index: 0;
  transition: z-index var(--transition-dur) step-end;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  margin-left: 30px;
  margin-top: 30px;
}
.services-card:hover, .services-card:focus {
  z-index: 1;
  transition-timing-function: step-start;
}
@media screen and (min-width: 768px) {
  .services-card {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1350px) {
  .services-card {
    flex-basis: calc(33.3333333333% - 30px);
  }
}
.services-card__body {
  padding: 30px 15px;
  height: 180px;
  width: 100%;
  border-radius: 30px;
  background-color: white;
}
.services-card__body:hover, .services-card__body:focus {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
@media screen and (min-width: 768px) {
  .services-card__body {
    padding: 30px;
    height: 230px;
  }
}
.services-card__top-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-card__img {
  display: none;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #F1F7FE;
}
@media screen and (min-width: 768px) {
  .services-card__img {
    display: flex;
    width: 70px;
    height: 70px;
  }
}
.services-card__title {
  width: 206px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #094581;
}
.services-card__text {
  margin-top: 20px;
  margin-bottom: 26px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.services-card__hidden-link {
  position: absolute;
  inset: 0;
  transition: filter var(--transition-dur);
  filter: drop-shadow(0 0 1px rgba(0, 34, 170, 0.4666666667));
  z-index: -1;
  background-color: white;
}

.services-card__link {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #0F97D8;
  transition: 25000ms;
}

.services-card__footer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: inherit;
  transform: translateY(-100%);
  transition: transform var(--transition-dur);
}
.services-card__footer:hover, .services-card__footer:focus {
  transform: translateY(0px);
}

.services-card:hover .services-card__link {
  display: block;
}

.services-card:hover .services-card__footer {
  transform: translateY(0px);
}

.services-card:hover .services-card__hidden-link {
  filter: drop-shadow(0 0 8px rgba(0, 34, 170, 0.4666666667));
}

.upload-price__link {
  display: flex;
  align-items: center;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.upload-price__link:hover,
.upload-price__link :focus {
  color: #0F97D8;
}

.upload-price__icon {
  margin-right: 20px;
  fill: #094581;
}

.reviews {
  padding-top: 40px;
  padding-bottom: 200px;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 280px;
  }
}

.reviews__list {
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.response-card {
  height: 240px;
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #e1effd;
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .response-card {
    flex-basis: calc(50% - 30px);
    height: 260px;
  }
}
@media screen and (min-width: 1350px) {
  .response-card {
    flex-basis: calc(33.3333333333% - 30px);
  }
}
.response-card__link {
  display: flex;
  flex-direction: column;
  height: 250px;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .response-card__link {
    padding: 30px 30px 0px 30px;
  }
}
.response-card__top-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.response-card__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #094581;
}
.response-card__date {
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  color: #999999;
}
.response-card__com-window {
  width: 100%;
  height: 95px;
  overflow-y: auto;
}

.response-card__com-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.response-card__reviers-info {
  margin-left: 20px;
}

.faq-section {
  position: relative;
  padding-bottom: 44px;
  background-color: #F1F7FE;
}
.faq-section::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(100% - 0px);
  width: 100%;
  height: 180px;
  background-image: url("../images/backing.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.faq {
  width: 100%;
  background-color: #F1F7FE;
}

.faq-item {
  width: 100%;
  background-color: white;
  border-radius: 30px;
}
.faq-item:not(:last-child) {
  margin-bottom: 10px;
}

.faq-title {
  position: relative;
  display: block;
  padding: 20px 45px 20px 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #333333;
}
.faq-title::after {
  content: " ";
  background-image: url("../images/arrow.svg");
  position: absolute;
  top: 40%;
  right: 22px;
  display: inline-block;
  width: 16px;
  height: 16px;
  transform: rotate(0deg);
}

.faq-input {
  width: 0;
  height: 0;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.faq-input:checked ~ .faq-text {
  display: block;
}

.faq-text {
  display: none;
  padding: 0px 30px 34px 30px;
}
.faq-text__label {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.375;
  color: #333333;
}

.faq-input:checked ~ .faq-title:after {
  content: " ";
  background-image: url("../images/arrow.svg");
  position: absolute;
  right: 22px;
  display: inline-block;
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
}

.map__google-map-container {
  height: 500px;
}

.map__google-map {
  width: 100%;
  height: 100%;
}

.map__map-title {
  text-align: center;
  padding: 5px 0 10px 0;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #999999;
}

.address-btn-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
.address-btn-list::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #F1F7FE;
}
@media screen and (min-width: 768px) {
  .address-btn-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1350px) {
  .address-btn-list {
    flex-wrap: nowrap;
  }
}
.address-btn-list__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1350px) {
  .address-btn-list__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.address-btn {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 0 20px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border: none;
  color: #094581;
  background-color: transparent;
  cursor: pointer;
}
.address-btn:hover {
  color: #0F97D8;
}
.address-btn:hover::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #0F97D8;
}
.address-btn__img {
  margin-right: 10px;
}
.address-btn--active {
  color: #0F97D8;
}
.address-btn--active::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #0F97D8;
}

.address {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1350px) {
  .address {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 145px;
  }
}

.location-box {
  display: flex;
  width: 300px;
}
.location-box:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1350px) {
  .location-box:not(:last-child) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.location-box__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #F1F7FE;
}

.location-box__address-block-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.64;
  color: #333333;
}

.location-box__address-block-text {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 0.64;
  color: #333333;
}
.location-box__address-block-text:not(:last-child) {
  margin-bottom: 10px;
}

.location-box__address-block-data {
  margin-right: 20px;
}

.address-text,
.first-phone-number,
.second-phone-number {
  display: block;
}
.address-text:hover,
.first-phone-number:hover,
.second-phone-number:hover {
  color: #0F97D8;
}

.location-box__address-block-span {
  display: block;
  margin-bottom: 10px;
}

.communication {
  max-width: 890px;
  margin: 0 auto;
}

.user-communication-form > input,
textarea {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.7272727273;
  color: #999999;
  background-color: #F1F7FE;
  border-radius: 30px;
  border: none;
  outline: none;
}

.user-communication-form__name-field, .user-communication-form__email-field {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  padding: 14px 30px;
}
@media screen and (min-width: 768px) {
  .user-communication-form__name-field, .user-communication-form__email-field {
    width: 354px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1350px) {
  .user-communication-form__name-field, .user-communication-form__email-field {
    width: 430px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .user-communication-form__name-field {
    margin-right: 5px;
  }
}
@media screen and (min-width: 1350px) {
  .user-communication-form__name-field {
    margin-right: 25px;
  }
}
.user-communication-form__textarea-for-questions {
  width: 100%;
  height: 150px;
  display: block;
  padding: 18px 30px;
  margin-bottom: 32px;
  resize: none;
}

@media screen and (min-width: 767px) {
  .user-communication-form__name-field--modal {
    width: 250px;
  }
}
@media screen and (min-width: 800px) {
  .user-communication-form__name-field--modal {
    width: 250px;
  }
}
@media screen and (min-width: 1000px) {
  .user-communication-form__name-field--modal {
    width: 330px;
  }
}

@media screen and (min-width: 800px) {
  .user-communication-form__email-field--modal {
    width: 270px;
  }
}
@media screen and (min-width: 767px) {
  .user-communication-form__email-field--modal {
    width: 270px;
  }
}
@media screen and (min-width: 1000px) {
  .user-communication-form__email-field--modal {
    width: 330px;
  }
}

.footer {
  margin-top: 50px;
  padding: 60px 0px 30px 0px;
  background-color: #094581;
}

.copyright-notice {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.3571428571;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: white;
}

@media screen and (max-width: 768px) {
  .button--footer {
    display: block;
    margin: 0 auto;
  }
}

.tel-list__link--footer + .footer-span {
  color: white;
}/*# sourceMappingURL=main.css.map */