$main-color: #094581;
$secondary-color:#27698A;
$hover-color:#0F97D8;

$main-white-color:#ffff;
$main-bg-color:#F1F7FE;
$main-text-color: #333333;
$secondary-text-color:#999999;

$animation-timer: cubic-bezier(0.4, 0, 0.2, 1);