body {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container h2{
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #094581;
}


.container {

  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media screen and (min-width: 320px) {
    min-width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width:1350px) {
    width: 1350px;
  }
}

